
body {
  background-image: url(./original-c43517db28905a343218aed172c262e0.gif); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./original-c43517db28905a343218aed172c262e0.gif);
}

.h3{
    color: rgb(93, 177, 14);
    text-align: center;
    
}

.p{
    text-align: center;
    color: rgb(255, 255, 255);
    
}